*{
    font-family: 'Manrope';
}
.containers
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.input1{
    border: none;
    font-size: 20px;
    line-height: 3rem;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 15px;
    width: 150%;
}
.input1:focus{
    outline: none;
}
.spliting{
    display: flex;
    justify-content: space-around;
}
.split1{
    width: 50%;
}
.heading{
    font-size: 36px;
    font-weight: 700;
    margin-top: 260px;
    margin-bottom: 40px;
}
hr{
    margin-bottom: 20px;
}
.butn{
    margin-top: 40px;
    width: 150px;
    height: 60px;
    pad: 15px;
    font-size: 24px;
    color: #fff;
    background-color:#1589CC ;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.butn:hover{
    background-color: #0f97e6;
    translate: 0px -8px;
}
.flex{
    display: flex;
    align-items: center;
    margin-top: 0px;
}
.image1{
    margin-left: 25px;
    width: 900px;
    height: 650px;
    margin-top: 100px;
}
.member1{
    display: flex;
    justify-content: start;
    text-decoration: underline;
    margin-left: 140px;
    font-size: 20px;
    color: rgb(99, 95, 95);
    cursor: pointer;
}
.member1:hover{
    color: #0f97e6;
}

.loader{
position: absolute;
top: 50%;
left: 50%;

}
.position3{
    background-color: transparent;
    top: 44%;
}
.modal-content
{
    background: transparent;
    box-shadow: none;
}


@media screen and (max-width:1600px) {
    .image1{
        margin-left: 15px;
    
        height: 650px;
    }

}
@media screen and (max-width:1500px) {
    .image1{
        margin-left: 15px;
        width: 700px;
        height: 650px;
    }

}
@media screen and (max-width:1380px) {
    .image1{
        margin-left: 15px;
        width: 600px;
        height: 650px;
    }
    .input1{
        border: none;
        font-size: 20px;
        line-height: 3rem;
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 15px;
        width: 70%;
    }
}
@media screen and (max-width:1080px) {
    .input1{
        border: none;
        font-size: 20px;
        line-height: 3rem;
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 15px;
        width: 40%;
    }

}
@media screen and (max-width:820px) {
    .image1{
        margin-left: 15px;
        width: 400px;
        height: 380px;
        margin-top: 150px;
    }
    .input1{
        border: none;
        font-size: 20px;
        line-height: 3rem;
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 15px;
        width: 70%;
    }
}
@media screen and (max-width:590px) {
    .image1{
        margin-left: 15px;
        width: 300px;
        height: 450px;
        margin-top: 200px;
    }
    .input1{
        border: none;
        font-size: 20px;
        line-height: 3rem;
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 15px;
        width: 70%;
    }
    .member1{
        font-size: 16px;
    }
}